@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Red+Hat+Text:ital,wght@0,300..700;1,300..700&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    --main-color: #c43d10;
    --main-txt-color: #1f1410;
}

body {
    padding: 0;
    margin: 0;
    background-color: #fcf8f5;
}

* {
    font-family: 'Red Hat Text', sans-serif;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

.container {
    width: 1400px;
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
}

@media (min-width: 768px) {
    .container {
        width: 90%;
    }
}
@media (min-width: 992px) {
    .container {
        width: 100%;
    }
}
@media (min-width: 1200px) {
    .container {
        /* width: 100%; */
        width: min(1500px, 85%);
    }
}

@media (max-width: 991px) {
    .container {
        flex-direction: column;
        width: 90%;
    }
}
/* start left side */
.left-side {
    width: 60%;
    margin-top: 30px;
}

@media (max-width: 991px) {
    .left-side {
        width: 100%;
    }
}
@media (max-width: 767px) {
    .left-side {
        width: 100%;
    }
}
.left-side .title h1 {
    margin-bottom: 20px;
}

.left-side .cards {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
}

.left-side .cards .card {
    width: 200px;
    height: 300px;
    border-radius: 10px;
    margin-bottom: 50px;
    position: relative;
}

@media (max-width: 1200px) {
    .left-side .cards .card {
        width: 220px;
        height: 310px;
    }
}
@media (max-width: 1180px) {
    .left-side .cards .card {
        width: 180px;
        height: 270px;
    }
}

@media (max-width: 800px) {
    .left-side .cards .card {
        width: 150px;
        height: 240px;
    }
}
@media (max-width: 767px) {
    .left-side .cards .card {
        width: 180px;
        height: 280px;
    }
}

@media (max-width: 435px) {
    .left-side .cards .card {
        width: 100%;
        height: 280px;
    }
}
.left-side .cards .add-to-cart {
    position: absolute;
    width: 180px;
    height: 45px;
    background-color: #fff;
    border: 1px solid var(--main-txt-color);
    border-radius: calc(45px / 2);
    top: calc(60% - (45px / 2));
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 600;
    cursor: pointer;
    transition: 0.3s;
    user-select: none;
}
@media (max-width: 991px) {
    .left-side .cards .add-to-cart {
        width: 130px;
        height: 40px;
    }
}
.left-side .cards .add-to-cart:hover {
    border-color: var(--main-color);
    color: var(--main-color);
}
.left-side .cards .add-to-cart img {
    margin-right: 7px;
}
.left-side .cards .add-to-cart .add-to-cart-txt {
    color: var(--main-txt-color);
    font-weight: 600;
}
.left-side .cards .card .card-img {
    width: 100%;
    height: 60%;
    background-color: #444;
    border-radius: 10px;
    background-position: center;
    background-size: cover;
}

.left-side .cards .card .card-txt .small-txt {
    color: #9f9190;
    font-size: 0.9rem;
    margin-top: 30px;
}

.left-side .cards .card .card-txt .card-name {
    margin: 0;
    color: var(--main-txt-color);
}

.left-side .cards .card .card-txt .price {
    color: var(--main-color);
    margin-top: 10px;
    font-weight: 800;
}

/* end left side */
/* start right side */
.right-side {
    width: 35%;
    height: fit-content;
    background-color: #fff;
    padding: 10px 30px;
    border-radius: 10px;
}

@media (max-width: 991px) {
    .right-side {
        margin: 0 auto;
        width: 50%;
    }
}

@media (max-width: 767px) {
    .right-side {
        width: 100%;
    }
}
.right-side .right-title h2 {
    color: var(--main-color);
}

.right-side .cart-items {
    width: 100%;
}

.right-side .cart-items .cart-item {
    margin-bottom: 25px;
    border-bottom: 1px solid #f5f5f5;
}

.right-side .cart-items .cart-item .cart-item-title {
    font-weight: 600;
    margin-bottom: 0;
}

.right-side .cart-items .cart-item .cart-sub-info {
    display: flex;
    align-items: center;
    position: relative;
    margin-top: -5px;
    margin-bottom: 10px;
}

.right-side .cart-items .cart-item .cart-sub-info .item-number {
    color: var(--main-color);
    font-weight: 700;
    margin-right: 25px;
    margin-bottom: 0;
}

.right-side .cart-items .cart-item .cart-sub-info .item-price {
    color: #918d8c;
    margin-right: 15px;
    margin-bottom: 0;
}

.right-side .cart-items .cart-item .cart-sub-info .item-total-price {
    color: #827a77;
    margin-bottom: 0;

}

.right-side .cart-items .cart-item .cart-sub-info img {
    position: absolute;
    right: 0;
    cursor: pointer;
    transition: 0.3s;
}
.right-side .cart-items .cart-item .cart-sub-info img:hover {
    filter: contrast(0);
    transform: scale(1.1)
}
.cart-total,
.confirm-total {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.right-side .sub-items .carbon {
    background-color: #fcf8f5;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 5px 0px;
    border-radius: 8px;
}
.right-side .sub-items .carbon img {
    margin-right: 5px;
}
.right-button {
    margin-top: 35px;
    width: 100%;
    display: flex;
    justify-content: center;
}
.right-button button {
    background-color: var(--main-color);
    width: 100%;
    border: none;
    border-radius: 30px;
    color: #fff;
    padding: 1rem;
    font-size: 1.1rem;
    margin-bottom: 20px;
}
.right-button button:hover {
    background-color: #952c0c;
    cursor: pointer;
}
.right-side .sub-items .empty {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.right-side .sub-items .empty .emptyp {
    color: #82706c;
}
/* end right side */
/* start order confirmed */
.confirm-message-bg {
    background-color: rgba(0, 0, 0, 0.5);
    width: 100vw;
    height: 100vh;
    position: fixed;
    z-index: 1000;
    top: 0;
}
.confirm-message-bg .container-confirm {
    background-color: #fff;
    max-width: 800px;
    height: fit-content;
    border-radius: 10px;
    padding: 0;
    margin: auto;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    padding: 40px;
    opacity: 1;
    transition: 0.5s;
    animation: fade-in 0.3s ease-in;
}

@media (max-width: 992px) {
    .confirm-message-bg .container-confirm {
        width: 90%;
    }
}
.confirm-message-bg .container-confirm .confirm-title h1,
.confirm-message-bg .container-confirm .confirm-title p {
    margin-bottom: 0;
}
.confirm-message-bg .container-confirm .confirm-title p {
    margin-top: 10px;
    color: #82706c;
}

@media (max-width: 767px) {
    .confirm-message-bg .container-confirm .confirm-title h1 {
        font-size: 1.6rem;
    }
    .confirm-message-bg .container-confirm .confirm-title p {
        font-size: 1rem;
    }
}
.confirm-message-bg .container-confirm .confirm-items {
    width: 100%;
    background-color: #fcf8f5;
    border-radius: 10px;
    margin-top: 20px;
    padding-bottom: 20px;
}
.confirm-message-bg .container-confirm .confirm-items .confirm-item {
    display: flex;
    gap: 20px;
    align-items: center;
    margin: 0 20px;
    padding: 20px 0;
    width: calc(100% - 40px);
    border-bottom: 1px solid #ccc;
}
.confirm-message-bg .container-confirm .confirm-items .confirm-item img {
    width: 80px;
    border-radius: 5px;
}
.confirm-message-bg .container-confirm .confirm-items .confirm-item h3 {
    margin: 0;
}
.confirm-message-bg .container-confirm .confirm-items .confirm-item p {
    margin: 0;
}
@media (max-width: 767px) {
    .confirm-message-bg .container-confirm .confirm-items .confirm-item h3 {
        font-size: 1.1rem;
    }
    .confirm-message-bg .container-confirm .confirm-items .confirm-item p {
        font-size: 1rem;
    }
}
.confirm-message-bg .container-confirm .confirm-items .confirm-item .item-txt {
    width: 100%;
}
.confirm-message-bg .container-confirm .confirm-items .confirm-item .item-sub-txt {
    display: flex;
    margin-top: 10px;
    justify-content: space-between;
    align-items: center;
}
.confirm-message-bg .container-confirm .confirm-items .confirm-item .item-sub-txt .item-qty {
    color: var(--main-color);
    font-weight: 700;
}
.confirm-message-bg .container-confirm .confirm-items .confirm-item .item-sub-txt .item-price {
    color: #82706c;
}

@media (max-width: 767px) {
    .confirm-message-bg .container-confirm .confirm-items .confirm-item .item-sub-txt .item-qty,
    .confirm-message-bg .container-confirm .confirm-items .confirm-item .item-sub-txt .item-price,
    .confirm-message-bg .container-confirm .confirm-items .confirm-item .item-sub-txt .item-total {
        font-size: 1rem;
    }
}
.confirm-message-bg .container-confirm .confirm-items .confirm-item .item-sub-txt > div:has(.item-qty) {
    display: flex;
    gap: 20px;
}
.confirm-message-bg .container-confirm .confirm-items .confirm-item .item-sub-txt .item-total {
    margin: 0;
}
/* end order confirmed */

/* animation */
@keyframes fade-in {
    0% {
        opacity: 0;
        top: 45%;
    }
    100% {
        opacity: 1;
        top: 50%;
    }
}